body {
    background: #fff;
    font: 1em/1.5 Arial,Geneva,sans-serif;
    margin: 0 auto;
    width: 700px;
}

h1 {
    font: 4em/1.5 Georgia;
    margin: 0;
}

a:hover,
a:active {
    text-decoration: none;
}

.payoff {
    font-size: 1.25em;
}

dl {
    margin: 0 -30px 2em;
}

dt {
    /* background: #f0f3f6; */
    /* border-top-left-radius: .5em; */
    /* -moz-border-radius-topleft: .5em; */
    /* -webkit-border-top-left-radius: .5em; */
    /* border-top-right-radius: .5em; */
    /* -moz-border-radius-topright: .5em; */
    /* -webkit-border-top-right-radius: .5em; */
    /* font-size: 1.1em; */
    /* padding: 4px 12px; */

    background: #eee;
    font-size: 1.1em;
    padding: 2px 30px 4px 30px;
}

dt + dt {
    margin-top: -.6em;
}

dt code {
    font-weight: bold;
}

dd {
    /* background: #f0fcff; */
    /* border-bottom-left-radius: .5em; */
    /* -moz-border-radius-bottomleft: .5em; */
    /* -webkit-border-bottom-left-radius: .5em; */
    /* border-bottom-right-radius: .5em; */
    /* -moz-border-radius-bottomright: .5em; */
    /* -webkit-border-bottom-right-radius: .5em; */
    margin: 0 0 1em;
    padding: 12px 30px;
}

h1,
h2,
h3,
h4 {
    font-family: Baskerville, Georgia, Times, serif;
    font-weight: normal;
}

h3 {
    font-size: 2em;
    margin: 0 0 .5em;
}

h4 {
    font-size: 1.5em;
    margin: 1.5em 0 .5em;
}

.section {
    background: #f8f8f8;
    border: 2px solid #f0f0f0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin: 0 -30px 2em;
    padding: 15px 30px;
    width: 700px;
}

.nav {
    margin: 0 0 1em;
    padding: 0;
}

.nav li {
    display: inline;
    list-style: none;
    padding: 0 12px 0 0;
}

.aside {
    border-top: 6px solid #fcfcfc;
    font-size: .9em;
    padding: 1em 0;
}

.aside p {
    margin: 0 0 .2em;
}

#intro {
    background: #f8fcff;
    border: 2px solid #f0f0f0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin: 0 -36px;
    overflow: hidden;
    padding: 6px 48px;
}

.download a {
    display: block;
    font-size: 1.5em;
    line-height: 1;
}

.download {
    float: left;
    width: 21em;
}

.download span {
    color: #666;
    font-size: .8em;
}

.download span a {
    display: inline;
    font-size: 1em;
}