/* General stuff */
body {
    background: #fff;
    font: 1em/1.5 Arial, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font: 4em/1.5 Ubuntu, Georgia;
    font-weight: normal;
    margin: 0;
}

h2,
h3,
h4 {
    font-family: Ubuntu, Baskerville, Georgia, Times, serif;
    font-weight: normal;
    margin: 0 0 .5em;
}

.front h2 {
    border-bottom: 2px solid #f0f0f0;
}

h3 {
    font-size: 2em;
    margin: 0 0 .5em;
}

h4 {
    font-size: 1.5em;
    margin: 1.5em 0 .5em;
}

code {
    font-size: 1.3em;
}

pre code {
    font-size: 1em;
}

a:hover,
a:active {
    text-decoration: none;
}

a:link,
a:visited {
    color: #00f;
}

pre,
p {
    margin: 0 0 1em;
}

/* Syntax highlighting */
pre.sh_sourceCode span.sh_string { color: #eb4e08; }
pre.sh_sourceCode span.sh_predef_var,
pre.sh_sourceCode span.sh_keyword { font-weight: bold; }
pre.sh_sourceCode span.sh_function,
pre.sh_sourceCode span.sh_type { color: #0700ff; }

/* Buttons */
.button {
    background: #ddd;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#ddd)
    );

    background: -moz-linear-gradient(
        top center,
        #fff,
        #ddd
    );

    border: 1px solid #aaa;
    border-radius: 12px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    display: inline-block;
    margin: 0 0 .5em;
}

.button:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#cdcdcd),
        to(#ececec)
    );

    background: -moz-linear-gradient(
        top center,
        #cdcdcd,
        #ececec
    );

    border-color: #999;
}

.button a {
    color: #333;
    display: block;
    font-size: 1.5em;
    font-weight: normal;
    padding: 2px 24px;
    text-decoration: none;
}

.button a:hover {
    color: #111;
}

/* Front page blurb */
.payoff {
    background: #333;

    background: -moz-linear-gradient(
        top center,
        #333,
        #3b3b3b 80%,
        #555
    );

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#333),
        to(#555),
        color-stop(0.8, #3b3b3b)
    );

    border-bottom: 2px solid #000;
    margin: 0 0 2em;
    overflow: hidden;
    padding: 6px 2em;
}

.payoff h1 {
    color: #fff;
    float: left;
    width: 4.5em;
}

.payoff h1 a {
    color: #fff;
    text-decoration: none;
}

.payoff p {
    color: #ccc;
    font-size: 1.25em;
    margin: 1em 0;
}

.front .download .content {
    float: left;
}

.download p {
    font-size: .8em;
    padding-left: 25px;
}

.browsers {
    float: left;
    width: 31em;
}

.download p {
    clear: both;
}

/* Front page sections */
.front .section {
    clear: both;
    margin: 0 0 2em;
}

.front .section .content {
    margin: 0 2em;
    max-width: 850px;
}

/* Examples */
.examples {
    margin: 0 0 1em;
    overflow: hidden;
}

.examples p {
    font-size: 0.9em;
    margin: 0 0 1em;
}

.examples pre + p {
    margin-top: 0;
}

.examples code {
    font-size: 1em;
}

.examples .active a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

/* Support + docs intro */
.browsers,
.docs-intro {
    margin-bottom: 2em;
}

.browsers ul {
    margin: 0 0 1em;
    overflow: hidden;
    padding: 0;
}

.browsers li {
    float: left;
    font-size: .75em;
    list-style: none;
    margin: 0 1.5em 1em 0;
    padding: 0;
    text-align: center;
    width: 32px;
}

.browsers li span {
    background: url(../images/firefox-32x32.png);
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 32px;
    text-indent: -1000em;
    width: 32px;
}

.browsers .ie span {
    background: url(../images/ie-32x32.png);
}

.browsers .chrome span {
    background: url(../images/chrome-32x32.png);
}

.browsers .safari span {
    background: url(../images/safari-32x32.png);
}

.browsers .opera span {
    background: url(../images/opera-32x32.png);
}

.browsers .mobile-safari span {
    background: url(../images/mobile-safari-32x32.png);
}

.browsers .android-browser span {
    background: url(../images/android-32x32.png);
}

.browsers .node-js {
    width: 93px;
}

.browsers .node-js span {
    background: url(../images/nodejs-93x32.png);
    width: 93px;
}

.browsers h2,
.docs-intro h2 {
    font-size: 1.5em;
}

.docs-intro h3 {
    font-size: 1.2em;
}

/* Navigational lists */
ul.nav {
    margin: 0 0 1em;
    padding: 0;
}

ul.nav li {
    display: inline;
    list-style: none;
    padding: 0 1em 0 0;
}

/* Main menu */
ul.main-nav {
    background: #f3f3f3;

    background: -moz-linear-gradient(
        top center,
        #eee,
        #f3f3f3
    );

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#eee),
        to(#f3f3f3)
    );

    border-bottom: 2px solid #ccc;
    margin: -2em 0 2em;
    padding: 0.5em 2em;
}

/* Docs */
.docs {
    max-width: 850px;
    padding: 0 2em;
}

.section pre {
    background: #f8f6f4;
    padding: 18px;
}

/* API reference */
.section {
    margin: 0 0 2em;
}

.section h2 {
    border-bottom: 2px solid #ccc;
    font-size: 2.5em;
    position: relative;
}

.section h3 {
    font-size: 2em;
    position: relative;
}

.section dl {
    background: #f8f8f8;
    border: 2px solid #f0f0f0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin: 1.5em 0;
    padding: 15px 30px;
}

.section dl dl {
    background: none;
    border: none;
    margin: 0 2.3em 1em;
    padding: 0;
}

.section dt {
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 .5em;
    padding: 0 0 .1em;
}

.section dd {
    margin: 0 0 2em;
    padding: 0;
}

h2 .api,
h3 .api {
    bottom: 6px;
    font-size: .4em;
    position: absolute;
    right: 0;
}

/* Footer */
.aside {
    border-top: 3px solid #ccc;
    clear: both;
    font-size: .9em;
    margin: 2em 2em 0;
    padding: 1em 0;
    position: relative;
}

.aside p {
    margin: 0 0 .2em;
}
